.local {
  width: 25px;
}

.condition {
  width: 30px;
  margin-top: 7px;
}

.m1 {
  margin-top: 3px;
}

.flex-container {
  display: flex;
}

.section-profile,
.my-projects {
  margin-top: 75px;
}

.section-profile {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
}
@media screen and (max-width: 768px) {
  .section-profile {
    padding: 20px 0;
  }
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 2px 6px 31px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.flex,
.block,
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.block-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  gap: 7px;
}

.description,
.content-container .b1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.description .name,
.content-container .b1 .name {
  margin-top: 30px;
  text-align: center;
}
.description .job,
.content-container .b1 .job {
  line-height: 1.3;
  text-align: center;
}

.content-container {
  gap: 15px;
}

.b1 {
  padding: 0 10px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
}
.btns .hire {
  padding: 7px 15px;
  background: #000;
  color: #fff;
  border-radius: 10%;
  box-shadow: 0 5px 0px #34443c;
}
.btns .hire:hover {
  top: 2px;
  box-shadow: 0 3px 0px #3c354a;
  background-color: #868686;
  color: #fff;
}
.btns .recent {
  padding: 7px 15px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  border-radius: 10%;
  box-shadow: 0 5px 0px #3c354a;
  text-shadow: none;
}
.btns .recent:hover {
  top: 2px;
  box-shadow: 0 3px 0px #34443c;
  background-color: #cfcfcf;
}

.video-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px 0;
  border-top: 2px solid var(--border);
  border-bottom: 2px solid var(--border);
}
.video-about .text {
  padding: 0 20px 20px;
}

.img .img1:active, .img .img1:hover, .img .img1:focus {
  box-shadow: none;
}

.img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  width: 70%;
  z-index: 1;
}

.round,
.triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}

.round {
  fill: #bbbaba;
  transform: translate(-50%, -50%);
}

.triangle {
  fill: #fff;
  transform: translate(-53%, -50%);
}

.video-about .img:active .round, .video-about .img:hover .round, .video-about .img:focus .round {
  fill: #fff;
  box-shadow: none;
}
.video-about .img:active .triangle, .video-about .img:hover .triangle, .video-about .img:focus .triangle {
  fill: #bbbaba;
  box-shadow: none;
}

.content-container .contacts,
.content-container .contact {
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.content-container .contacts .title,
.content-container .contact .title {
  text-align: center;
}
.content-container .contacts .phone,
.content-container .contacts .email,
.content-container .contact .phone,
.content-container .contact .email {
  display: flex;
  gap: 10px;
  justify-content: start;
}
.content-container .contacts .icons,
.content-container .contact .icons {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.icons .pic {
  width: 35px;
}

.contact-icon .envelop {
  margin-top: 2px;
}

.phone .svg-phone {
  margin-left: -3px;
}

.video-about .title {
  border-bottom: 2px solid var(--grass-green);
}

.contacts .title {
  border-bottom: 3px solid var(--grass-green);
  margin: 0;
  width: 130px;
}

.my-projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  align-items: flex-start;
  margin-left: 30px;
}

.projects-container a img:active, .projects-container a img:hover, .projects-container a img:focus {
  border-radius: 0;
}

.my-projects__title {
  margin: 0 0 40px 0;
  border-bottom: 1px solid var(--black);
  font-size: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.my-projects__title .under {
  font-size: 10px;
  font-weight: normal;
}

.projects-container {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .projects-container {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 43px;
  }
}
.projects-container a {
  flex-basis: calc((100% - 50px) / 2);
}

.spoiler {
  margin: 50px 0 0 30px;
  width: 87.7%;
  padding-bottom: 70px;
}

.spoiler__container {
  border: 1px solid #000;
  padding: 5vw;
  margin: 0 auto;
}
.spoiler__container .spoiler__item:not(:last-child) .spoiler__title::before,
.spoiler__container .spoiler__item:not(:last-child) .spoiler__title::after {
  content: "";
  width: 3%;
  height: 2.7%;
  background-color: #000;
  position: absolute;
  top: 20px;
}
@media screen and (min-width: 428px) {
  .spoiler__container .spoiler__item:not(:last-child) .spoiler__title::before,
.spoiler__container .spoiler__item:not(:last-child) .spoiler__title::after {
    width: 3.6%;
    height: 3.6%;
  }
}
@media screen and (min-width: 1200px) {
  .spoiler__container .spoiler__item:not(:last-child) .spoiler__title::before,
.spoiler__container .spoiler__item:not(:last-child) .spoiler__title::after {
    width: 3.1%;
    height: 8%;
  }
}
@media screen and (min-width: 428px) and (max-width: 691px) {
  .spoiler__container .spoiler__item:first-child .spoiler__title::before,
.spoiler__container .spoiler__item:first-child .spoiler__title::after {
    content: "";
    width: 3.6%;
    height: 8%;
    background-color: #000;
    position: absolute;
    top: 20px;
  }
}
.spoiler__container .spoiler__item:last-child .spoiler__title::before,
.spoiler__container .spoiler__item:last-child .spoiler__title::after {
  content: "";
  width: 3%;
  height: 1.3%;
  background-color: #000;
  position: absolute;
  top: 20px;
}
@media screen and (min-width: 428px) {
  .spoiler__container .spoiler__item:last-child .spoiler__title::before,
.spoiler__container .spoiler__item:last-child .spoiler__title::after {
    width: 3.6%;
    height: 1.8%;
  }
}
@media screen and (min-width: 1200px) {
  .spoiler__container .spoiler__item:last-child .spoiler__title::before,
.spoiler__container .spoiler__item:last-child .spoiler__title::after {
    width: 3.1%;
    height: 8%;
  }
}

.spoiler__item {
  margin: 1vw 0;
}

.spoiler__title {
  font-family: serif;
  font-size: 1.7rem;
  line-height: 2rem;
  position: relative;
  padding: 0 0 0 10%;
  cursor: pointer;
}

.spoiler__title::before {
  transform: rotate(40deg);
  left: 0;
}

.spoiler__title::after {
  transform: rotate(-40deg);
  left: 2.2%;
}

.spoiler__title.spoiler-active {
  color: #145635;
  text-shadow: rgba(52, 68, 60, 0.3647058824) 3px 3px 7px;
}

.spoiler__title.spoiler-active::before,
.spoiler__title.spoiler-active::after {
  background-color: #26985f;
  box-shadow: #34443c 3px 3px 7px;
}

.spoiler__title.spoiler-active::before {
  transform: rotate(-40deg);
}

.spoiler__title.spoiler-active::after {
  transform: rotate(40deg);
}

.spoiler__text {
  display: none;
  padding: 3% 4% 1% 10%;
}

.spoiler__text p {
  text-indent: 7px;
  padding: 1%;
  line-height: 1.7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (min-width: 1200px) {
  .spoiler__text p {
    text-indent: 0;
  }
}

@media screen and (max-width: 427px) {
  .section-profile {
    width: 280px;
  }
  .flex,
.block {
    flex-direction: column;
    gap: 3px;
  }
  .buttons {
    flex-wrap: wrap;
    gap: 10px;
  }
  .buttons .b1 {
    flex-basis: calc((100% - 90px) / 2);
  }
  .description {
    gap: 20px;
  }
  .name,
.job {
    margin: 0;
  }
  .block-1 {
    padding: 0;
  }
  .video-about {
    margin: 0 6px;
  }
  .video-about .text {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .flex-container {
    flex-direction: column;
    gap: 0;
  }
  .i {
    width: 330px;
  }
}
@media screen and (min-width: 768px) {
  .my-projects {
    margin-top: 80px;
  }
  .i {
    width: 349px;
  }
  .spoiler {
    margin: -1000px 0 0 1px;
    width: 52.5%;
    padding-bottom: 800px;
  }
}
@media screen and (min-width: 100px) and (max-width: 428px) {
  .i {
    width: 280px;
  }
  .spoiler {
    width: 100%;
    margin: 30px 0 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .my-projects {
    margin-top: 90px;
  }
  .my-projects__title {
    font-size: 30px;
  }
  .spoiler {
    margin: 30px 0 0 1px;
    width: 99.8%;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 427px) {
  .my-projects {
    margin: 0;
  }
  .i {
    width: 300px;
  }
}
@media screen and (min-width: 428px) and (max-width: 767px) {
  .my-projects {
    margin: 0 3px;
  }
  .i {
    width: 370px;
  }
  .spoiler {
    margin: 50px 0 0 3px;
    width: 98.4%;
    padding-bottom: 70px;
  }
}
.header.blog {
  background: var(--bg-violet);
}

.grid {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
}
@media screen and (min-width: 768px) {
  .grid {
    margin-top: 50px;
  }
}
.grid a img:active, .grid a img:hover, .grid a img:focus {
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .grid__header {
    font-size: 40px;
  }
}

.grid__big .image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .grid__big {
    display: flex;
    gap: 30px;
  }
  .grid__big .image {
    width: 106%;
  }
  .grid__big .main__text {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .grid__big .image {
    width: 110%;
  }
  .grid__big .main__text {
    margin: 0px 70px;
    width: 40%;
  }
}

.items__img {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .text__data {
    font-size: 20px;
    margin: 30px 0;
  }
  .text__title.title {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .text__subtitle {
    font-size: 25px;
  }
}
/* --------------------BLOCKS---------------------------- */
.data {
  color: #888888;
  text-transform: uppercase;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .title {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 25px;
  }
}

.subtitle {
  color: #888888;
  margin: 10px 0 30px 0;
  padding: 10px 0 0 0;
  line-height: 1.2;
}

.text {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .items__item {
    flex-basis: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .items__item {
    flex-basis: calc((100% - 40px) / 3);
  }
}

.container .sidebar {
  position: fixed;
  top: 70px;
  left: 0px;
  width: 26%;
  height: 100vh;
  background: var(--light-green);
}
@media screen and (min-width: 428px) {
  .container .sidebar {
    width: 20%;
  }
}
@media screen and (min-width: 768px) {
  .container .sidebar {
    top: 100px;
    width: 22%;
  }
}
@media screen and (min-width: 1200px) {
  .container .sidebar {
    width: 20%;
  }
}

.sidebar__menu {
  margin: 7px 3px;
  margin-top: 60px;
}
@media screen and (min-width: 428px) {
  .sidebar__menu {
    margin: 10px 5px;
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  .sidebar__menu {
    margin: 40px 10px;
  }
}
@media screen and (min-width: 1200px) {
  .sidebar__menu {
    margin: 55px 20px;
  }
}

.sidebar__link {
  font-family: serif;
  color: var(--green);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.5;
  text-decoration: none;
}
.sidebar__link:hover {
  text-shadow: var(--text-shadow-black);
  color: var(--light-green);
}
@media screen and (min-width: 428px) {
  .sidebar__link {
    font-size: 20px;
    line-height: 1.7;
  }
}
@media screen and (min-width: 768px) {
  .sidebar__link {
    font-size: 25px;
    line-height: 2;
  }
}
@media screen and (min-width: 1200px) {
  .sidebar__link {
    font-size: 28px;
    line-height: 1.5;
  }
}

.photo-active {
  text-shadow: var(--text-shadow-black);
  color: var(--white);
  text-transform: uppercase;
}

.sidebar__list li:not(:last-child) {
  margin: 0 0 10px 0;
}
@media screen and (min-width: 428px) {
  .sidebar__list li:not(:last-child) {
    margin: 0 0 15px 0;
  }
}
@media screen and (min-width: 768px) {
  .sidebar__list li:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
@media screen and (min-width: 1200px) {
  .sidebar__list li:not(:last-child) {
    margin: 0 0 30px 0;
  }
}

.sidebar__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 90px;
}
@media screen and (min-width: 428px) {
  .sidebar__list {
    gap: 100px;
  }
}
@media screen and (min-width: 768px) {
  .sidebar__list {
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .sidebar__list {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .sidebar__list li {
    transform: rotate(-90deg);
  }
}

.header.blog {
  background: var(--bg-violet);
}

.photo__title {
  font-size: 30px;
  color: #890;
  text-shadow: 2px 1px black;
  margin: 80px 0 0 80px;
  border-bottom: 3px solid #890;
  padding-bottom: 15px;
}
@media screen and (min-width: 428px) {
  .photo__title {
    margin: 80px 0 0 110px;
  }
}
@media screen and (min-width: 768px) {
  .photo__title {
    font-size: 45px;
    margin: 10px 0 0 160px;
  }
}
@media screen and (min-width: 1200px) {
  .photo__title {
    font-size: 50px;
    margin: 7px 0 0 220px;
  }
}

.photo__subtitle {
  color: rgb(169, 185, 41);
  font-size: 25px;
  text-shadow: 2px 1px rgb(75, 75, 75);
  margin: 10px 0 0 80px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(169, 185, 41);
}
@media screen and (min-width: 428px) {
  .photo__subtitle {
    margin: 10px 0 0 110px;
  }
}
@media screen and (min-width: 768px) {
  .photo__subtitle {
    font-size: 35px;
    margin: 10px 0 0 160px;
  }
}
@media screen and (min-width: 1200px) {
  .photo__subtitle {
    font-size: 40px;
    margin: 10px 0 0 220px;
  }
}

.gallery__subtitle {
  margin: 20px 0 20px 10px;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  color: rgb(204, 213, 131);
  font-size: 15px;
  text-shadow: 1px 0px gray;
  border-top: 2px solid rgb(169, 185, 41);
  border-bottom: 2px solid rgb(169, 185, 41);
}
@media screen and (min-width: 768px) {
  .gallery__subtitle {
    margin: 20px 0 20px 5px;
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__subtitle {
    margin: 20px 0 20px 15px;
    font-size: 30px;
  }
}

.photo {
  margin: 70px 0 10px 0;
}
@media screen and (min-width: 428px) {
  .photo {
    margin: 20px 0 15px -45px;
    padding-top: 10px;
    width: 120%;
  }
}
@media screen and (min-width: 768px) {
  .photo {
    margin: 30px 0 20px 0;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .photo {
    margin: 50px 0 30px 0;
  }
}

.photo__gallery {
  margin: 0 5px 0 75px;
}
@media screen and (min-width: 428px) {
  .photo__gallery {
    margin: 0 5px 0 105px;
  }
}
@media screen and (min-width: 768px) {
  .photo__gallery {
    margin: 0 5px 0 155px;
  }
}
@media screen and (min-width: 1200px) {
  .photo__gallery {
    margin: 0 5px 0 205px;
  }
}

.gallery__items {
  display: grid;
  gap: 5px;
}
@media screen and (min-width: 428px) {
  .gallery__items {
    gap: 7px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__items {
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media screen and (min-width: 1200px) {
  .gallery__items {
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 100vw;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}
@media screen and (min-width: 428px) {
  .container {
    max-width: 396px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

body {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  height: 100px;
  width: 100vw;
  background: var(--white);
}
@media screen and (max-width: 768px) {
  header {
    height: 70px;
  }
}

main {
  padding-top: 100px;
}
@media screen and (max-width: 768px) {
  main {
    padding-top: 0px;
  }
}

.bg-sun {
  background-image: url(./../home/img/sun-1x.jpg);
  background-size: contain;
  background-color: var(--bg-violet);
  background-repeat: no-repeat;
  background-position: 0px 100px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg-sun {
    background-image: url(./../home/img/sun-2x.jpg);
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .bg-sun {
    background-image: url(./../home/img/sun-3x.jpg);
  }
}
@media screen and (max-width: 768px) {
  .bg-sun {
    background: var(--bg-violet);
  }
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
  transition: all var(--main-transition);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: var(--black);
}
a:active, a:hover, a:focus {
  color: var(--white);
  text-shadow: var(--text-shadow-black);
}
a:active svg:active, a:active svg:hover, a:active svg:focus, a:hover svg:active, a:hover svg:hover, a:hover svg:focus, a:focus svg:active, a:focus svg:hover, a:focus svg:focus {
  border-radius: 20%;
  box-shadow: 7px 0px 7px rgba(0, 0, 0, 0.55), -7px 0px 7px rgba(0, 0, 0, 0.55);
}
a img:active, a img:hover, a img:focus {
  box-shadow: var(--box-shadow);
}

a span {
  font-size: 14px;
  font-family: "Arial", sans-serif;
}

button {
  cursor: pointer;
}

img {
  display: block;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.container-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 15px 0;
  gap: 70px;
}
@media screen and (max-width: 768px) {
  .nav-container {
    margin: 0;
  }
}
.nav-container .logo {
  padding: 10px;
  font-size: 20px;
  font-family: serif;
  background-color: var(--black);
  color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container .menu {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .nav-container .menu {
    display: none;
  }
}

.nav-items {
  display: flex;
  gap: 70px;
}

.contacts-icons {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 1199px) {
  .contacts-icons {
    flex-direction: column;
    row-gap: 10px;
  }
}

.contacts-icon:active .icon, .contacts-icon:hover .icon, .contacts-icon:focus .icon {
  border-radius: 20%;
  box-shadow: 7px 0px 7px rgba(0, 0, 0, 0.55), -7px 0px 7px rgba(0, 0, 0, 0.55);
}

.back-home {
  position: fixed;
  bottom: 7px;
  right: 7px;
  padding: 6px 7.5px;
  background-color: #000000;
  border-radius: 50%;
  z-index: 3;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}
.back-home:hover {
  opacity: 0.7;
}

.back-home__icon {
  transform: rotate(270deg);
  transform-origin: center;
  fill: aliceblue;
}

.btn-hidden {
  display: none;
}

:root {
  --white: #fff;
  --black: #000;
  --pink: #ffeded;
  --active: #ff3877;
  --grey: rgb(45, 45, 45);
  --green: rgb(24, 78, 34);
  --grass-green: rgb(56, 158, 74);
  --light-green: rgb(234, 244, 155);
  --bg-violet: rgb(241, 241, 255);
  --light-violet: rgba(241, 241, 255, 0.7);
  --text-shadow-pink: 1px 1px 1px rgba(255, 220, 230),
    -1px -1px 1px rgba(255, 220, 230), 1px 1px 1px rgba(255, 220, 230),
    -3px 7px 7px rgba(255, 220, 230);
  --text-shadow-white: 2px 2px 3px rgba(255, 255, 255, 0.7),
    -2px -2px 3px rgba(255, 255, 255, 0.7),
    2px -2px 3px rgba(255, 255, 255, 0.7), -2px 2px 3px rgba(255, 255, 255, 0.7);
  --text-shadow-black: 2px 2px 3px rgba(0, 0, 0, 0.7),
    -2px -2px 3px rgba(0, 0, 0, 0.7), 2px -2px 3px rgba(0, 0, 0, 0.7),
    -2px 2px 3px rgba(0, 0, 0, 0.7);
  --border: rgba(0, 0, 0, 0.077);
  --box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.7),
    0px 1px 1px rgba(46, 47, 66, 0.7), 0px 1px 6px rgba(46, 47, 66, 0.7);
  --main-transition: 200ms cubic-bezier(0.3, 1, 0.1, 2);
}

.burger-container {
  min-width: 320px;
  max-width: 1170px;
}

.page-header .burger-container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 767px) {
  .header-menu-container {
    display: none;
  }
}
.header-menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.menu-toggle {
  position: absolute;
  top: 36px;
  right: 36px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover, .menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  margin-bottom: 40px;
  background: var(--pink);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 999;
  overflow: scroll;
  transform: translateY(-100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateY(0);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.mobile-menu .active {
  color: var(--active);
}

.burger-nav-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  margin-left: 15%;
}

.active {
  color: var(--active);
}

.burger-nav-item {
  font-size: 36px;
  line-height: 1.11;
}
.burger-nav-item .mobile-menu:active,
.burger-nav-item .mobile-menu:hover,
.burger-nav-item .mobile-menu:focus {
  text-shadow: var(--text-shadow-pink);
  color: var(--grey);
}

.burger-svg-icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
}

.burger-contacts-icons {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  margin-left: 15%;
}
.burger-contacts-icons span {
  font-size: 18px;
}

.burger-contacts-icon:active .icon, .burger-contacts-icon:hover .icon, .burger-contacts-icon:focus .icon {
  border-radius: 20%;
  box-shadow: 7px 0px 7px rgba(0, 0, 0, 0.55), -7px 0px 7px rgba(0, 0, 0, 0.55);
}

.contact-icon {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.burger-svg-icons {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  margin: 0 10% 0 0;
}

.burger-svg-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--main-transition);
  z-index: 999;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 55%);
  transition: transform var(--main-transition);
  overflow: scroll;
  background-color: var(--pink);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.close {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: var(--modal-color);
  border-style: none;
}

.icon-close:active, .icon-close:hover, .icon-close:focus {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.14), -3px -3px 7px rgba(0, 0, 0, 0.12), 3px -3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.modal .title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 50px;
  margin-bottom: 0;
  color: black;
}

.modal-contact-me {
  width: 300px;
  height: 300px;
}

.modal-about-me {
  width: 500px;
  height: 800px;
}

.about {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.7;
  text-align: left;
  padding: 20px 30px;
  margin: 90px 10px 20px 10px;
  background: var(--bg-violet);
  border: 3px solid var(--grey);
}
@media screen and (min-width: 428px) {
  .about {
    text-align: justify;
    margin: 100px 30px 10px 30px;
    padding: 20px 50px;
  }
}
@media screen and (min-width: 768px) {
  .about {
    margin: 30px 30px 10px 30px;
  }
}
.about .title {
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  text-align: center;
  margin: 30px 0;
  padding-bottom: 10px;
}
.about p {
  text-indent: 25px;
}

.bg-about {
  background: var(--light-violet);
}/*# sourceMappingURL=main.css.map */