.burger-container {
  min-width: 320px;
  max-width: 1170px;
}
.page-header .burger-container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu-container {
  @media screen and (min-width: 767px) {
    display: none;
  }
  .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
.menu-toggle {
  position: absolute;
  top: 36px;
  right: 36px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 20px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  margin-bottom: 40px;
  background: var(--pink);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 999;
  overflow: scroll;

  transform: translateY(-100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateY(0);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 100px;
  .active {
    color: var(--active);
  }
}

.burger-nav-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  margin-left: 15%;
}
.active {
  color: var(--active);
}
.burger-nav-item {
  font-size: 36px;
  line-height: 1.11;
  .mobile-menu:active,
  .mobile-menu:hover,
  .mobile-menu:focus {
    text-shadow: var(--text-shadow-pink);
    color: var(--grey);
  }
}
.burger-svg-icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
}
.burger-contacts-icons {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  margin-left: 15%;
  span {
    font-size: 18px;
  }
}
.burger-contacts-icon {
  &:active,
  &:hover,
  &:focus {
    .icon {
      border-radius: 20%;
      box-shadow: 7px 0px 7px rgb(0 0 0 / 55%), -7px 0px 7px rgb(0 0 0 / 55%);
    }
  }
}
.contact-icon {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.burger-svg-icons {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  margin: 0 10% 0 0;
}
.burger-svg-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
