:root {
  --white: #fff;
  --black: #000;
  --pink: #ffeded;
  --active: #ff3877;
  --text-shadow-white: 2px 2px 3px rgba(255, 220, 230),
    -2px -2px 3px rgba(255, 220, 230), 2px -2px 3px rgba(255, 220, 230),
    -2px 2px 3px rgba(255, 220, 230);
  --border: rgba(0, 0, 0, 0.077);
}
