body {
  background: rgb(241, 241, 255) url(/img/sun.jpeg) 0 0/100% auto no-repeat;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  behavior: smooth;
}
body.lock {
  overflow: hidden;
}
.wrapper {
  width: 100vw;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
/* .mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}
.scroll-point {
  scroll-snap-align: start;
  scroll-snap-stop: always;
} */
/* .container {
  max-width: 2000px;
  height: auto;
  display: flex;
  flex-direction: column;
} */
/* @media (min-width: 992px) {
  .spoiler {
    display: none;
  }
} */
/* @media (min-width: 1401px) {
  .container {
    display: none;
  }
} */
@media (max-width: 1200px) {
  /* .container {
    max-width: 970px;
  } */
  .profile-container {
    margin: 27% 0 0 100%;
  }
}
@media (max-width: 992px) {
  .profile-container {
    margin: 27% 0 0 -130%;
  }
  .nav-item,
  .nav-link,
  .active {
    color: #000;
    margin: 0 0 0 11.7vw;
    width: 113vw;
    z-index: 111;
    background-color: #fff;
    font-size: 1.5rem;
  }
  .navbar-nav {
    background: rgb(255, 255, 255);
    z-index: 111;
    margin: 0 0 0 -3vw;
    width: 103vw;
    color: #000;
  }
}
/* @media (max-width: 767px) {
  .container {
    max-width: none;
    margin: 0 10vw 0 -10vw;
  }
  .profile-container {
    margin: 27% 0 0 -100%;
  }
} */
/* ----------------------------NAVBAR---------------------------- */
/* .nav_active {
  transition: visibility 0s 0s, opacity 0.6s ease;
  opacity: 1;
  visibility: visible;
}
.collapse {
  visibility: hidden;
  transition: visibility 0s 0.6s, opacity 0.6s ease;
  opacity: 0;
  overflow: hidden;
} */
.nav-container {
  position: relative;
  height: 50px;
  width: 100vw;
}
.navbar {
  height: 70px;
}
.container-fluid {
  background: rgba(0, 0, 0, 0.133);
  margin: -1% 0 0 0;
  height: 70px;
}
@media (min-width: 1500px) {
  .container-fluid {
    margin: 0;
  }
}
.circle {
  margin: 0 7% 0 10%;
  color: white;
  background: #000;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
}
.navbar-nav {
  color: #000;
}
.nav-item,
.nav-link,
.active {
  color: #000;
  padding: 0 50% 0 0;
  font-size: 1.5rem;
}

.nav-item:hover {
  transform: translate(0, 3px);
  transition-duration: 1s;
}
@media (max-width: 992px) {
  .nav-item:hover {
    transform: translate(20px, 0);
    transition-duration: 1s;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
  }
}
/* ----------------------------Profile---------------------------- */
.flex-container {
  display: flex;
  flex: 1 0 auto;
}

.profile-container {
  display: block;
  background-color: white;
  position: relative;
  top: 50;
  left: 0;
  max-width: 600px;
  margin: 35% 0 0 -13%;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 2px 6px 31px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  z-index: 10;
}
.profile {
  margin-top: 5%;
  position: relative;
}
/* ----------------------------Profile-HEADER---------------------------- */

.header {
  display: block;
  width: fit-content;
  border-bottom: 1px solid rgb(210, 210, 210);
  margin: 0 0 1% 0;
  padding: 0 0 1% 0;
}
.avatar {
  width: 250px;
  height: auto;
}
.all-description {
  display: block;
  width: 105%;
  margin: 3% 0 0 3%;
}
.flex {
  display: flex;
  margin: 1% 0 1% 0;
  width: 100%;
}
.description {
  padding: 0 0 0 7%;
  width: 280%;
  align-items: center;
  justify-content: center;
}
.name {
  padding: 5% 0 2% 1%;
  font-size: 250%;
}
.job {
  margin: 0 0 5% 0;
  font-size: 150%;
  line-height: 1.7rem;
}
.block {
  margin: -10% 0 0 46%;
}
.block-1 {
  display: flex;
  padding-top: -37%;
}
.local {
  width: 40px;
  height: auto;
  padding: 0 0 2% 2%;
}
.city {
  padding: 1% 0 0 2%;
}
.condition {
  width: 45px;
  height: auto;
  padding: 0 0 2% 1%;
}
.work {
  padding: 0.5% 0 0 2%;
}
/* ----------------------------Profile-CONTENT---------------------------- */
/* ----------------------------BTNS---------------------------- */

.content-container {
  margin: 5% 12% 5% 12%;
}
.buttons {
  display: flex;
  margin: 0 0 -40px 0;
}
.b1:first-child {
  margin: 0 0 40px 0;
}
.b1 {
  margin: 0 0 0 15%;
}
.n1 {
  font-size: 2rem;
  margin: 0 0 40px 0;
}
.t1 {
  font-size: 1.3rem;
}

.btns,
.btns a {
  display: flex;
  width: 300px;
}
.hire button {
  margin: 0 0 7% 0;
  background: #000;
  color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 10%;
  transition-duration: 500ms;
  box-shadow: 0 5px 0px #34443c;
}
.btns a {
  text-decoration: none;
  background: inherit;
}
.recent {
  margin: 0 0 0 10%;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  width: 100%;
  height: 40px;
  border-radius: 10%;
  transition-duration: 500ms;
  box-shadow: 0 5px 0px #3c354a;
}

.hire button:hover {
  top: 2px;
  box-shadow: 0 3px 0px #3c354a;
  background-color: #868686;
  color: #fff;
}
.recent:hover {
  top: 2px;
  box-shadow: 0 3px 0px #34443c;
  background-color: #cfcfcf;
}
/* ----------------------------VIDEO---------------------------- */

.video-about {
  display: block;
  width: fit-content;
}
.img1 {
  width: 90%;
}
.round {
  position: absolute;
  margin: 15% 0 0 -40%;
}
.triangle {
  position: absolute;
  margin: 16% 0 0 -38.5%;
}
.title {
  font-size: 2rem;
  margin: 5% 0 5% 0;
}
.text {
  margin: 0 3% 5% 3%;
  line-height: 130%;
  font-size: 120%;
}
.line-about {
  margin-left: -16%;
  width: 132%;
  border-bottom: 1px solid rgb(210, 210, 210);
}
/* ----------------------------CONTACTS---------------------------- */

.contacts {
  margin: 0;
}
.contacts a {
  color: #000;
}
.contacts a:hover {
  color: rgba(0, 0, 0, 0.563);
}
.phone {
  display: flex;
  margin: 0 0 -5% 0;
}
.n1 {
  width: 5%;
  height: 1%;
}
.numb {
  margin: 0 0 0 5%;
}
.email {
  display: flex;
}
.m1 {
  width: 5%;
  height: 1%;
}
.mail {
  margin: 0 0 0 5%;
}
.icons {
  display: flex;
  margin: 5%;
}
.pic img {
  width: 50%;
  margin: 0 0 0 10%;
}

/* ----------------------------PROJECTS---------------------------- */

.my-projects {
  position: relative;
  display: block;
  top: 0;
  left: 0;
}
.mp-container {
  width: 100%;
}
.line {
  width: 195%;
  margin: 3% 0 0 -25%;
  border-bottom: 2px solid #000;
}
.my-projects__title {
  margin: 15% 0 0 -25%;
  padding: 0 0 -3% -7%;
  font-size: 3rem;
}
.projects-container {
  display: flex;
  margin: 1.5% 0 0 -40%;
  padding: 0 0 0 -10%;
}
.i {
  width: 65%;
  margin: 2% 0 0 10%;
}
/* ----------------------------MEDIA---------------------------- */
@media (min-width: 2501px) {
  .profile-container {
    margin: 20% 0 0 -90%;
    width: 200%;
  }
  .mp-container {
    margin: 0 0 0 0;
    width: 100%;
  }
  .line {
    width: 250%;
    z-index: 1;
  }
  .my-projects__title {
    padding: 2% 0 0 30%;
  }
  .projects-container {
    display: flex;
    margin: 7% 0 0 -10vw;
  }
  .i {
    width: 25vw;
    height: 35vw;
    margin: 2% 0 0 25%;
    padding: 0 0 0 5%;
  }
}
@media (max-width: 2500px) {
  .mp-container {
    margin: 0 0 0 0;
    width: 100%;
  }
  .line {
    width: 250%;
    z-index: 1;
  }
  .my-projects__title {
    padding: 2% 0 0 30%;
  }
  .projects-container {
    display: flex;
    margin: 7% 0 0 -10vw;
  }
  .i {
    width: 25vw;
    height: 35vw;
    margin: -1vw 0 0 25%;
    padding: 0 0 0 5%;
  }
  .profile-container {
    margin: 10% 0 0 -50%;
  }
}
@media (max-width: 2250px) {
  .projects-container {
    margin: 7% 0 0 -7%;
  }
  .i {
    width: 25vw;
    height: 35vw;
    margin: -1vw 0 0 10%;
    padding: 0 0 0 5%;
  }
}
@media (max-width: 1950px) {
  .profile-container {
    margin: 5% 0 0 -20%;
  }
  .job {
    margin: 0 5% 2% 0;
    font-size: 110%;
  }
  .projects-container {
    margin: 7% 0 0 1%;
  }
  .i {
    width: 25vw;
    height: 35vw;
    margin: -1vw 0 0 10%;
    padding: 0 0 0 5%;
  }
}
@media (max-width: 1820px) {
  .projects-container {
    margin: 7% 0 0 -3%;
  }
  .i {
    width: 25vw;
    height: 35vw;
    margin: -1vw 0 0 10%;
    padding: 0 0 0 5%;
  }
}
@media (max-width: 1485px) {
  .container {
    grid-template-columns: 3fr 3fr;
  }
  .job {
    margin: 0 7% 2% 0;
    font-size: 110%;
  }
  .profile-container {
    margin: 3% 0 0 5%;
    width: 150%;
  }
  .projects-container {
    margin: 3% 0 0 17%;
    padding-left: 10%;
    flex-direction: column;
  }
  .my-projects__title {
    margin: 15% 0 0 -1%;
    padding: 0 0 -3% 7%;
    font-size: 2.7rem;
  }
  .i {
    width: 30vw;
    height: 100%;
    margin: 3% 0 0 5%;
  }
}
@media (max-width: 1400px) {
  .container {
    grid-template-columns: 4fr 3fr;
  }
  .profile-container {
    margin: 10% 10% 0 -5%;
    width: 130%;
  }
  .i {
    width: 30vw;
    margin: 3% 0 0 5%;
  }
}
@media (max-width: 1200px) {
  .container {
    grid-template-columns: 5fr 3fr;
  }
  .profile-container {
    margin: 10% 0 0 2vw;
  }
  .projects-container {
    margin: 3% 0 0 7vw;
    padding-left: 7vw;
    flex-direction: column;
  }
  .my-projects__title {
    margin: 15% 0 0 7%;
    padding: 0 0 -3% 7%;
    font-size: 2.7rem;
  }
  .i {
    width: 30vw;
    margin: 3% 0 0 5%;
  }
}
@media (max-width: 992px) {
  .profile-container {
    margin: 7% 0 0 9vw;
    width: 150%;
  }
  .i {
    width: 100%;
    margin: 3% 10% 5% -3%;
  }
}
@media (max-width: 767px) {
  .profile-container {
    margin: 7% 0 0 -7vw;
    width: 150%;
  }
  .i {
    width: 110%;
  }
  .projects-container {
    margin: 3% 0 0 -10vw;
    padding-left: 7vw;
    flex-direction: column;
  }
  .my-projects__title {
    margin: 15% 0 0 -7%;
    /* padding: 0 0 -3% 1%; */
    font-size: 3rem;
  }
}
@media (max-width: 640px) {
  .profile-container {
    margin: 7% 0 0 2vw;
    width: 100%;
  }
  .i {
    width: 103%;
  }
  .projects-container {
    margin: 3% 0 0 -1vw;
    padding-left: 7vw;
    flex-direction: column;
  }
  .my-projects__title {
    margin: 15% 0 0 -3%;
    font-size: 3rem;
  }
  .name {
    padding: 5% 0 2% 1%;
    font-size: 230%;
  }
  .job {
    margin: 0 0 2% 0;
    font-size: 150%;
  }
  .buttons {
    margin: 0 25% -40px 0;
  }
}
@media (max-width: 575px) {
  .profile-container {
    margin: 7% 0 0 1%;
    width: 98%;
  }
  .i {
    margin: 3% 1% 5% -5%;
  }
  .avatar {
    width: 180px;
    height: 180px;
  }
  .all-description {
    display: block;
    width: 100%;
    margin: 3% 0 0 3%;
  }
  .flex {
    display: flex;
    margin: 1% 0 1% 0;
    width: 100%;
  }
  .description {
    padding: 0 0 7% 7%;
    margin-bottom: 10%;
  }
  .name {
    padding: 5% 0 2% 1%;
    font-size: 230%;
  }
  .job {
    margin: 0 3% 2% 0;
    font-size: 150%;
  }
  .buttons {
    margin: 0 40% -40px 0;
  }
  .my-projects__title {
    margin: 15% 5% 0 -7%;
  }
}
@media (max-width: 460px) {
  .avatar {
    width: 150px;
    height: 150px;
  }
  .name {
    padding: 5% 0 2% 1%;
    font-size: 200%;
  }
  .buttons {
    margin: 0 65% -40px 0;
  }
}

/* ----------------------------POPUP---------------------------- */
.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.62);
  top: 0;
  left: 0;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}
.popup:target,
.popup.open {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease 0s;
}
.popup:target .popup__content,
.popup.open .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}
.popup__body {
  width: 100%;
  height: auto;
  align-items: center;
  justify-items: center;
  min-height: 100%;
  margin: 0 auto;
  padding: 30% 10%;
}
.popup__content {
  background: white;
  color: #000;
  padding: 10%;
  position: relative;
  opacity: 0;
  transition: all 0.5s ease 0s;
  transform: translate(0px, -100%);
}
.popup__close {
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 2rem;
  color: #000;
  text-decoration: none;
}
.popup__close:hover {
  font-size: 2.3rem;
  color: rgba(0, 0, 0, 0.4);
}
.popup__title {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0 0 1% 0;
}
.popup__text {
  display: flex;
  flex-direction: row;
}
#add {
  border: 1px solid gray;
  margin: 1% 0.1%;
}
#file {
  padding: 3% 0;
}
.btns {
  padding: 3% 0;
  margin: 0;
}
#btn {
  width: 50%;
  margin: 0 7.7% 0 0;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-justify: right;
  border-radius: 5%;
  text-transform: uppercase;
  font-size: 1.2rem;
}
#btn:hover {
  background: rgba(0, 0, 0, 0.483);
}

/* ---------------------------- SPOILERS---------------------------- */

@media (min-width: 2501px) {
  .spoiler {
    width: 50%;
    margin: 3vw 2vw 2vw 40vw;
  }
}
@media (max-width: 2499px) {
  .spoiler {
    width: 60%;
    height: 100%;
    padding: 0 10%;
    margin: -12vw 2vw 2vw 40vw;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
@media (max-width: 2420px) {
  .spoiler {
    width: 60%;
    margin: -12vw 2vw 2vw 40vw;
  }
}
@media (max-width: 1485px) {
  .spoiler {
    width: 50%;
    margin: 3% 1% 1% 45%;
  }
}
@media (max-width: 1400px) {
  .spoiler {
    width: 60%;
    margin: -7% 1% 1% 48%;
  }
}
@media (max-width: 1200px) {
  .spoiler {
    width: 50%;
    margin: -18% 1% 1% 58.3%;
  }
}
@media (max-width: 1130px) {
  .spoiler {
    width: 50%;
    margin: -25vw 1% 1% 58.3%;
  }
}
@media (max-width: 1050px) {
  .spoiler {
    width: 50%;
    margin: -35vw 1% 1% 58.3%;
  }
}
@media (max-width: 992px) {
  .spoiler {
    width: 90vw;
    height: 100%;
    margin: -3vw 1vw 1% 1vw;
  }
  .spoiler__container {
    border: 1px solid #000;
    padding: 3%;
    margin: 0 -3% 7% -3%;
  }
  .spoiler__item {
    margin: 5% 0;
  }
  .spoiler__title {
    font-size: 1.7rem;
    line-height: 2rem;
    position: relative;
    padding: 0 0 0 7%;
    cursor: pointer;
  }
  .spoiler__title::before,
  .spoiler__title::after {
    content: "";
    width: 3%;
    height: 1%;
    background-color: #000;
    position: absolute;
    top: 20px;
  }
  .spoiler__title::before {
    transform: rotate(40deg);
    left: 0;
  }
  .spoiler__title::after {
    transform: rotate(-40deg);
    left: 2.2%;
  }

  .spoiler__text {
    display: none;
    padding: 3% 0 0 0;
  }
  .spoiler__text p {
    text-indent: 5%;
    padding: 1%;
  }
}
.spoiler__container {
  border: 1px solid #000;
  padding: 1vw;
  margin: 0 auto;
}
.spoiler__item {
  margin: 1vw 0;
}
.spoiler__title {
  font-size: 1.7rem;
  line-height: 2rem;
  position: relative;
  padding: 0 0 0 7%;
  cursor: pointer;
}
.spoiler__title::before,
.spoiler__title::after {
  content: "";
  width: 3%;
  height: 1%;
  background-color: #000;
  position: absolute;
  top: 20px;
}
.spoiler__title::before {
  transform: rotate(40deg);
  left: 0;
}
.spoiler__title::after {
  transform: rotate(-40deg);
  left: 2.2%;
}

.spoiler__text {
  display: none;
  padding: 3% 0 0 0;
}
.spoiler__text p {
  text-indent: 5%;
  padding: 1%;
}

.spoiler__title.spoiler-active {
  color: #145635;
  text-shadow: #34443c5d 3px 3px 7px;
}

.spoiler__title.spoiler-active::before,
.spoiler__title.spoiler-active::after {
  background-color: #26985f;
  box-shadow: #34443c 3px 3px 7px;
}

.spoiler__title.spoiler-active::before {
  transform: rotate(-40deg);
}
.spoiler__title.spoiler-active::after {
  transform: rotate(40deg);
}
