body {
  background: #d9d9d9;
  padding: 3%;
  color: #000;
}
section {
  padding: 10px 1vw;
}
h1,
h2 {
  margin: 0;
}
.conducting,
.useful,
.contact {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}
.title {
  font-family: "IM FELL Great Primer";
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  width: fit-content;
  height: 50px;
  border-bottom: 2px solid #e1803a;
  margin-bottom: 10px;
}
.subtitle {
  font-family: "Iceland";
  margin: 0 auto 7px;
  font-size: 20px;
  width: fit-content;
  height: 30px;
  border-bottom: 2px solid #e1803a;
}
.text {
  font-family: "Inika";
  font-size: 10px;
  line-height: 1.4;
  color: black;
  text-indent: 1.5em;
  padding-bottom: 15px;
}

.conducting {
  background: #fff8f3;
}

.row,
.conducting__row,
.useful__row,
.contact__row {
  display: flex;
  align-items: center;
}
.img,
.conducting__img,
.useful__img,
.contact__img {
  max-width: 100%;
  flex: 1 1 100%;
}
.tblock {
  margin: 1% 0.5% 0 3%;
}
.first {
  width: 100%;
  max-width: 350px;
  height: auto;
}
.flex {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* -------------------------ADAPTIVE-------------------- */

.conducting__text {
  padding: 10px 0 0 0;
}
.conducting__tblock {
  text-align: left;
}

/* -------------------------USEFUL-------------------- */
.useful {
  background: #fff2eb;
}
.useful__container {
  width: 95%;
}
.useful__tblock {
  text-align: left;
  padding: 10px 20px 0 20px;
}
/* -------------------------CONTACT-------------------- */

.contact {
  background: #ffe2d1;
}
.container__1 {
  background: #ffeade;
}
.cont {
  padding: 10px 3px;
}
.contact__subtitle {
  padding-top: 5px;
}

.contact__tblock {
  margin: 0 2% 0 2%;
}
.contact__text {
  padding: 1% 0 0 0;
}

.container__2 {
  background: #ffe2d1;
}
.container__3 {
  background: #ffdcc8;
  padding: 10px 60px;
  text-align: center;
}

.contact__link {
  color: #e1803a;
  border-bottom: none;
}
.contact__link:hover {
  text-shadow: 1px 1px 1px #000;
}
.contact__link:active {
  color: #000;
}
.contact__link:visited {
  color: #975f37;
  border-bottom: 1px solid #000;
}
/* -------------------------ADAPTIVE-------------------- */
@media (min-width: 768px) {
  .conducting .first {
    max-width: 200px;
  }
  .useful,
  .contact {
    display: block;
  }
  .flex-column {
    margin-bottom: 10px;
  }
  .flex {
    flex-direction: row;
    gap: 10px;
  }
  .flex.reverse {
    flex-direction: row-reverse;
  }
  .flex.reverse .first {
    max-width: 250px;
  }
  .conducting__container {
    display: flex;
    gap: 10px;
  }
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 30px;
  }
  .text {
    font-size: 14px;
  }
  .contact__subtitle {
    padding-top: 0;
  }
  .contact__text {
    text-align: right;
  }
  .container__3 {
    padding: 10px;
  }
}
@media (min-width: 1200px) {
  .conducting .first {
    max-width: 400px;
  }
  .contact .first,
  .flex.reverse .first {
    max-width: 450px;
  }
  .flex-column {
    margin-bottom: 30px;
  }
  .flex {
    gap: 30px;
  }
  .conducting__container {
    gap: 30px;
  }
  .title {
    margin-top: 30px;
    font-size: 50px;
    padding-bottom: 70px;
  }
  .subtitle {
    font-size: 40px;
    padding-bottom: 45px;
  }
  .text {
    font-size: 22px;
    line-height: 1.7;
  }
  .contact__subtitle {
    padding-top: 0;
  }
  .container__3 {
    padding: 10px;
  }
}
@media (min-width: 1800px) {
  .text {
    font-size: 25px;
    line-height: 2;
  }
}
