.wrapper {
  background: #d9d9d9;
}
.body {
  padding: 3%;
}
.title {
  font-family: "IM FELL Great Primer";
  font-style: normal;
  font-weight: 400;
  font-size: 5vw;
  line-height: 5vw;
  color: black;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
}
.uderline {
  border-bottom: 2px solid #e1803a;
  width: 50%;
  margin-left: 25%;
}
.uder_line {
  border-bottom: 2px solid #e1803a;
  width: 20%;
  margin-left: 40%;
}
.subtitle {
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 3vw;
  color: black;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 3px 0;
}
.text {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 2vw;
  color: black;
  text-indent: 1.5em;
  text-align: justify;
  padding-bottom: 15px;
}

.conducting {
  display: flex;
  background: #fff8f3;
}

.row,
.conducting__row,
.useful__row,
.contact__row {
  display: flex;
  align-items: center;
}
.img,
.conducting__img,
.useful__img,
.contact__img {
  max-width: 100%;
  flex: 1 1 100%;
}
.tblock {
  margin: 1% 0.5% 0 3%;
}
/* -------------------------ADAPTIVE-------------------- */
@media (max-width: 600px) {
  .useful__container {
    width: 120%;
  }
  .contact__img {
    min-width: 40%;
  }
  .title {
    line-height: 1%;
  }
}
@media (max-width: 800px) {
  .title {
    font-size: 4vw;
    line-height: 2vw;
  }
  .subtitle {
    font-size: 3vw;
    line-height: 1vw;
  }
  .text {
    font-size: 1.1vw;
    line-height: 1.2vw;
  }
  .contact__img {
    width: 50%;
  }
}
@media (max-width: 1030px) {
  .useful__container {
    width: 130%;
  }
  .contact__img {
    max-width: 60%;
  }
  .title {
    line-height: 2vw;
  }
}
@media (max-width: 1300px) {
  .text {
    font-size: 1.1vw;
    line-height: 2vw;
  }
  .contact__img {
    max-width: 50%;
  }
}
@media (max-width: 1800px) {
  .cont {
    padding: 1%;
  }
}
/* -------------------------ADAPTIVE-------------------- */

.first {
  width: 100%;
  height: auto;
}

.conducting__container {
  margin: 10px 20px;
}
.conducting__title {
  padding-bottom: 10px;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.conducting__subtitle {
  padding: 10px 0 0 -20px;
}
.conducting__text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 0 0;
}
.conducting__tblock {
  text-align: left;
}

/* -------------------------USEFUL-------------------- */
.useful {
  display: flex;
  background: #fff2eb;
}
.useful__uder_line {
  border-bottom: 2px solid #e1803a;
  width: 45%;
  margin-left: 27%;
}
.useful__subtitle {
  margin: 5px;
}
.useful__img {
  width: 100%;
  height: auto;
}
.useful__tblock {
  text-align: left;
  padding: 10px 20px 0 20px;
}
/* -------------------------CONTACT-------------------- */

.contact {
  display: flex;
  background: #ffe2d1;
}
.contact__container {
  display: flexbox;
  margin: 0;
  padding: 0;
  width: 150%;
}
.contact__img {
  display: flexbox;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.container__1 {
  background: #ffeade;
}
.cont {
  padding: 2.3vw;
  display: block;
}
.contact__subtitle {
  margin: 5px;
}

.contact__uder_line1 {
  border-bottom: 2px solid #e1803a;
  width: 55%;
  margin-left: 23%;
  margin-bottom: 5px;
}
.contact__uder_line2 {
  border-bottom: 2px solid #e1803a;
  width: 40%;
  margin-left: 30%;
}
.contact__tblock {
  margin: 0 2% 0 2%;
}
.contact__text {
  text-align: right;
  padding: 1% 0 0 0;
}

.container__2 {
  background: #ffe2d1;
}
.container__3 {
  background: #ffdcc8;
}
.contact__link:visited {
  color: #975f37;
  border-bottom: 1px solid #000;
}
.contact__link {
  color: #e1803a;
  padding: 2%;
}
.contact__link:hover {
  text-shadow: 1px 1px 1px #000;
}
.contact__link:active {
  color: #000;
}
